* {
  box-sizing: border-box;
}

body {
  background: #fff;
  margin: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.gallery {
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.gallery-item {
  max-width: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
  display: block;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}
